*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header{
    background-color: #333333;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 1.2rem;
}

h1{
    margin-left: 405px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.perfil{
    width: 180px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
    gap: 20px;
}

.perfil img{
    width: 70%;
    padding: 20px 0;
}

main{
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 35px;

}
.personas{
    flex: 0.9;
}

.persona{
    background-color: #f4f4f4;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.info{
    flex: 1;
}

.info p{
    padding: 15px 0;
    
}

button{
    background-color: #fed700;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    margin-left: 5px;
}


button:hover{
    cursor: pointer;
    outline: 1px solid #8100b0;
}

#aumentarLike1, #aumentarLike2, #aumentarLike3{
    font-weight: bold;
    font-size: 1.2rem;
}